<h1 class="text-center mt-4">Inicia sesión en el blog</h1>

<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-10">
      <%= form_with(scope: :session, url: login_path, class:"shadow p-3 mb-4 bg-white rounded", local: true) do |f| %>
        <div class="form-group row">
          <%= f.label :email, class: "col-2 col-form-label" %><br>
          <div class="col-10">
            <%= f.email_field :email, class: "form-control", placeholder: "Email" %>
          </div>
        </div>
        <div class="form-group row">
          <%= f.label :password, class: "col-2 col-form-label" %><br>
          <div class="col-10">
            <%= f.password_field :password, class: "form-control", placeholder: "Contraseña" %>
          </div>
        </div>
        <div class="form-group row justify-content-center mt-4">
          <%= f.submit "Iniciar Sesion", class: "btn btn-primary" %>
        </div>
      <% end %>
      <div class="mb-3 row justify-content-center">
        <%= link_to 'Volver a inicio', root_path %>
      </div>
    </div>
  </div>
</div>