<div class="container">
  <% @articles.each do |article| %>
    <div class="mt-4 mb-4">
      <div class="card">
        <div class="card-header">
          <%= link_to article.user.username, user_path(article.user) %>
        </div>
        <div class="card-body">
          <h5 class="card-title"><%= link_to article.title, article_path(article) %></h5>
            <p class="card-text"><%= truncate(article.description, lenght: 50) %></p>
            <% if logged_in? && (current_user == article.user || current_user.admin?)%>
              <a><%= link_to 'Edit', edit_article_path(article),
                :class => "btn btn-primary" %></a>
              <a><%= link_to 'Delete', article_path(article), 
              :class => "btn btn-danger", method: :delete, data: { confirm: "Are you sure?"} %></a>
            <% end %>
        </div>
        <div class="card-footer text-muted">
          <small>Created <%= time_ago_in_words(article.created_at) %> ago, 
          edited <%= time_ago_in_words(article.updated_at) %> ago</small>
        </div>
      </div>
    </div>
  <% end %>
</div>



