<div class="container mt-4">
  <h1><%= @article.title %></h1>
</div>

<div class="container">
    <div class="mt-4">
      <div class="card">
        <div class="card-header font-italic text-center ">
          <%= @article.user.username %>
        </div>
        <div class="card-body">
          <div class="card-text"><%= simple_format(@article.description) %></div>
            <% if logged_in? && current_user == @article.user %>
              <a><%= link_to 'Edit', edit_article_path(@article),
                :class => "btn btn-primary" %></a>
              <a><%= link_to 'Delete', article_path(@article), 
              :class => "btn btn-danger", method: :delete, data: { confirm: "Are you sure?"} %></a>
            <% end %>
        </div>
        <div class="card-footer text-muted">
          <small>Created <%= time_ago_in_words(@article.created_at) %> ago, 
          edited <%= time_ago_in_words(@article.updated_at) %> ago</small>
        </div>
      </div>
    </div>
    <div class="row justify-content-center mt-5">
      <%= link_to 'Volver a la lista de articulos', articles_path %></p>  
    </div>  
</div>
